.container {  display: grid;
  grid-template-columns: 280px 1fr 380px;
  grid-template-rows: 100vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "a b c";
}

.a {
  grid-area: a;
  background-color: red;
}

.c {
  grid-area: c;
  background-color: green;
}

.b {
  grid-area: b;
  background-color: blue;
}
